/*reset*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*header*/
.horarios {
    background: #1188EE;
}

.horarios p {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 6px 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

@media(max-width: 444px) {
    .horarios p {
        font-size: 10px;
        text-align: center;
    }
}


.header-container-bg {
    background: #17222D;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .header-container {
        flex-direction: column;
    }

    .menu {
        margin-top: 10px;
    }
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li {
    position: relative;
}

.menu ul li:after {
    content: '';
    padding: 2px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 0px;
    position: relative;
    bottom: 5px;
}

.menu ul li:last-child:after {
    content: '';
    display: none;
}

.menu ul li:last-child {
    border-bottom: 2px solid #EE2211;
}

.menu ul li a {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 18px;
}

@media (max-width: 440px) {
    .menu ul li a {
        font-size: 14px;
    }
}

/*intro*/
.intro {
    background: url(../assets/bg-intro@2x.jpg) center center no-repeat;
    background-size: cover;
    padding: 440px 0 60px 0;
    position: relative;
}

.form-intro {
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intro h1 {
    font-family: 'Alice', serif;
    font-size: 72px;
    color: white;
    font-weight: 400;
}

.input-matricula input {
    width: 285px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px #17222d59;
    position: relative;
    left: 5px;
    bottom: 1.5px;
}

.input-matricula input::placeholder {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: bold;
    color: #BBCCDD;
}

.input-matricula a {
    padding: 10.5px 40px 10.5px 10.5px;
    background: #EE2211;
    border-radius: 0 5px 5px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #17222d59;
    position: relative;
}

.input-matricula a > img {
    position: absolute;
    right: 10.5px;
    bottom: 16px;
}

@media(max-width: 1100px) {
    .form-intro {
        flex-direction: column;
    }

    .intro {
        padding: 150px 0;
    }

    .input-matricula {
        margin: 20px 0;
    }
}

@media(max-width: 560px) {
    .input-matricula a {
        display: block;
        border-radius: 0px 0px 5px 5px;
    }
    
    .input-matricula input {
        left: 0px;
        bottom: -1px;
        border-radius: 5px 5px 0px 0px;
        border: 2px solid white;
    }

    .intro h1 {
        text-align: center;
        font-size: 50px;
    }

    .input-matricula input {
        width: 265px;
    }
}

/*main*/
.main {
    margin: 60px auto;
}

/*praia*/
.praia {
    margin: 0 auto 80px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "coluna-1 coluna-2";
    grid-gap: 130px;
    padding: 0 20px;
}

@media(max-width: 1100px) {
    .praia {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "coluna-2"
        "coluna-1";
        max-width: 80%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
    }
}


.coluna-1 {
    grid-area: coluna-1;
}

.coluna-2 {
    grid-area: coluna-2;
}

.mapa {
    margin: -130px 0 0 25px;
    box-shadow: 0px 5px 5px #bbccdd44;
}

.como-chegar {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin: 40px 0 60px 25px;
    font-size: 14px;
    font-weight: 700;
}

.como-chegar legend {
    text-transform: uppercase;
    color: #17222D;
}

.como-chegar legend:before {
    content: '';
    font-size: 0;
    margin-right: 6px;
    padding: 2px;
    border: 2px solid #FF3726;
    border-radius: 50%;
    position: relative;
    bottom: 5px;
}

.como-chegar li {
    color: #99AABB;
}

.como-chegar li:before {
    content: '';
    font-size: 0;
    padding: 1px 5px;
    margin-right: 6px;
    background: #1188EE;
    position: relative;
    bottom: 5px;
}

.como-chegar li span {
    color: #17222D;
}

.coluna-2 h1 {
    font-family: 'Alice', serif;
    font-size: 72px;
    font-weight: 400;
    color: #17222D;
    line-height: 1;
}

.coluna-2 span {
    color: #1188EE;
}

.info-lista {
    margin: 40px 0 30px 0;
}

.info-lista li {
    border-top: 2px solid #EFF4F9;
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.info-lista li:last-child {
    border-bottom: 2px solid #EFF4F9;
}

.info-lista li > span {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    color: #445566;
}

.coluna-2 p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #445566;
    line-height: 1.5;
}

.coluna-2 p + p {
    margin-top: 30px;
}


@media (max-width: 680px) {
    .coluna-2 h1 {
        font-size: 54px;
    }

    .coluna-1 img {
        width: 300px;
    }
    
.info-lista li > span {
    font-size: 18px;
    }
}

@media(max-width: 445px) {
    .coluna-2 h1 {
        font-size: 44px;
    }
}

/*aulas*/
.aulas-bg {
    background: #EFF4F9;
}

.aulas {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.separador {
    position: relative;
    bottom: 35px;
}

.aulas h1 {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 72px;
    color: #445566;
    text-align: center;
}

@media (max-width: 680px) {
    .aulas h1 {
        font-size: 54px;
    }
}

.list-aulas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.item-aulas {
    margin: 30px auto;
    background: white;
    max-width: 300px;
    padding: 30px 60px;
    border-radius: 5px;
    box-shadow: 5px 10px 5px #bbccdd4b;
    display: flex;
    flex-direction: column;
}

.item-aulas + .item-aulas {
    margin-left: 20px;
}

@media(max-width: 1200px) {
    .item-aulas + .item-aulas {
        margin: 30px auto;
    }
}

@media(max-width: 500px) {
    .item-aulas {
        padding: 30px;
    }
}

.surfbot-icon-aulas {
    align-self: center;
    margin: -50px 0 0 0;
}

.item-aulas h2 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: #445566;
    text-align: center;
    margin: 15px 0 30px 0;
}

.info-aulas {
    padding: 30px 0;
    border-top: 2px solid #EFF4F9;
    border-bottom: 2px solid #EFF4F9;
    
}

.info-aulas li + li {
    margin-top: 15px;
}

.info-aulas li {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #445566;
}

.info-aulas li:before {
    content: '';
    font-size: 0;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #FF3726;
    position: relative;
    bottom: 5px;
    margin-right: 5px;
}

.item-aulas strong {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #1188EE;
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.item-aulas a {
    width: 230px;
    align-self: center;
    padding: 10px 15px;
    background: #445566;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.item-aulas a > img {
    position: absolute;
    right: 15px;
    bottom: 15px;
} 

.aulas p {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #445566;
}

.aulas p > span {
    font-weight: 700;
    color: #FF3726;
}

.aulas p > a {
    text-decoration: none;
    color: #445566;
    border-bottom: 2px solid #FF3726;
}

@media(max-width: 400px) {
    .aulas p, .aulas p > a {
        font-size: 16px;
    }
}

/*blockquote*/
.quote {
    background: url(/assets/foto-quote.jpg) center center no-repeat;
    background-size: cover;
    padding: 200px;
    text-align: center;
}

.quote > p {
    font-family: 'Alice', serif;
    font-size: 72px;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
}

.quote strong {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

@media(max-width: 1040px) {
    .quote {
        padding: 200px 20px;
    }

    .quote > p {
        font-size: 54px;
    }
}

@media(max-width: 1040px) {
    .quote {
        padding: 100px 20px;
    }

    .quote > p {
        font-size: 34px;
    }
}

/*contato*/
.contato {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0px 20px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
}

.contato h1 {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 72px;
    color: #445566;
    text-align: center;
    grid-column: 1/-1;
}


.formulario {
    border-right: 2px solid #EFF4F9;
    padding-right: 100px;    
}

.formulario input, textarea {
    display: block;
    resize: none;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px #bbccdd65;
    background: #EFF4F9;
    padding: 15px;
    border-radius: 5px;
}


.formulario label {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #445566;
    font-weight: bold;
}

.formulario input, textarea {
    margin-bottom: 15px;
    width: 470px;
}

.formulario textarea {
    margin-bottom: 30px;
}

.contato .enviar-mensagem {
    padding: 10px 50px 10px 15px;
    background: #445566;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    position: relative;
}

.contato .enviar-mensagem > img {
    position: absolute;
    right: 15px;
    bottom: 16px;
}

@media(max-width: 1060px) {
    .contato {
        grid-template-columns: 1fr;
        max-width: 80%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        grid-gap: 0px;
        margin: 30px auto;
    }

    .contato h1 {
        font-size: 54px;
        margin-bottom: 30px;
    }

    .formulario {
        padding: 0px;
        border: none;
        align-self: center;
    }

    .formulario input, textarea {
        max-width: 200px;
        margin: 0 auto 15px auto;
    }

}

/*dados*/
.dados {
    margin: 0 60px;
    background: url(/assets/bg-icones.svg) no-repeat;
}

@media(max-width: 1060px) {
    .dados {
        margin: 60px;
    }
}

.dados ul + ul {
    border-top: 2px solid #EFF4F9;
    width: 270px;
}

.dados ul legend, a {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #445566;
    font-weight: bold;
}

.dados ul legend {
    margin-bottom: 5px;
}

.email-telefone, .hora {
    margin-top: 15px;
    padding: 15px 0;
}

.dados ul li a {
    font-size: 14px;
    text-transform: uppercase;
}

.dados ul li {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #445566;
}

/*footer*/
.footer {
    background: #1188EE;
}

.footer-container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.footer-container p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

@media(max-width: 580px) {
    .footer-container {
        flex-direction: column;
    }
}